body {
    font-family: Courier, "Times New Roman", monospace;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
  }

  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(232, 255, 105);
  }

  .page-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }

  .page-header a {
    display: block;
    padding:0.5em;
    text-decoration:none;
  }


  /* Style the entire card */
  .items {
    width: 80%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;

  }

  /* Style the image in the card */
  .items img {
    width: 100%;
    height: auto;

    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2); 
  }

  /* Style style both paragraphs and price in the card. */
  .item p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  /* Style the add to cart button */
  .item button {
    background-color: #55db34; 
    color: #fff; 
    padding: 5px 10px; 
    border: none; 
    border-radius: 5px;
    font-size: 14px;
    margin: 0 auto;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    display: block;
  }

  /* Style the add form*/
  #add-form {
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
  }

  #add-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }

  #add-form input[type="text"],
  #add-form input[type="number"] {
    width: 50%;
    padding: 6px;
    margin-bottom: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }

  #add-form button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  #add-form button[type="submit"]:hover {
    background-color: #555;
  }


  /* Style cart buttons */
  #cart-qty {
    background-color: #fb73c5;
    color: #fff;
    font-size: 14px;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
  }

  #item-list {
    font-size: 14px;
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }

  #item-list li {
    font-size: 14px;
    background-color: #ecd4f8;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
  }

  #item-list li button {
    background-color: #50b8f8;
    color: #fff;
    padding: 4px 0;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 60px;
    text-align: center;
  }

  #item-list li button:hover {
    background-color: #49deff;
  }

  #item-list li input {
    width: 130px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 12px;
  }

  #cart-total {
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
    color: #333;
  }
